@import '../color';

.body{
    width: 100vw;
    font-weight: 500;
    font-size: 16px;
    position: fixed;
    top: 0;
    transition: transform 1s;
    z-index: 10;
}
.body_down{
    transform: translateY(-100%);
}
.NavBar{
    position: absolute;
    top: 0;
    left: 0;
}

header{
    height: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: $whiteGray;
    span{
        margin-right: 20px;
        width: auto;
    }
    :first-child,:last-child{
        cursor: pointer;
    }
}
main{
    position: relative;
    width: auto;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding : 0 7% ;
    background-color: white;
    span{
        margin : 0 2%;
    }
}
.left{
    width: auto;
    display: flex;
    align-items: center;
}
.logo{
    width:auto;
    height:50px;
    cursor:pointer;
}
.search{
    position: absolute;
    right: 90px;
    bottom: -20%;
    width: auto;
}
.search_input{
    width: 90px;
    height: 25px;
    padding: 8px 48px;
    outline: none;
    border : none;
    border-radius: 10px;
    background-color: $whiteGray;
}
.search_input:hover{
    background-color: #E5E5E5;
}
.search_icon{
    display: none;
}
.info{
    position: relative;
    width: auto;
}
.icon{
    font-size: 25px;
    margin-right: 15px;
    cursor: pointer;
}


/* 아이콘 시작 */
.iconBox{
    display: none;
    justify-content: flex-end;
    height: fit-content;
        section{
        position: relative;
        width: 23px;
        height: 17px;
        margin: 15px;
        margin-top: 20px;
        transition: .5s;
        div {
            position: absolute;
            width: 100%;
            height: 20%;
            background-color: #888;
            transition: all 0.5s;
        }
        div:nth-of-type(1){
            top: 0;
            width: auto;
            left: 0;
            right: 0;
            /* 커서를 인식하지 않을 때는 높이를 먼저 조절 후 너비 조절 */
            transition: all 0.5s, left 0.25s 0.25s, right 0.25 0.25, height .0.25s 0s;

        }
        div:nth-of-type(2) {
            top: 40%;
            transition:all 1s, width .5s 0s, rotate 0s .5s;
        }
        div:nth-of-type(3) {
            top: 80%;
            right: 0;
            transition:all 1s, width .5s 0s, rotate 0s .5s;
        }
    }
}
.topMenu_layout{
    width: 100%;
    background-color: white;
    z-index: 10;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(100%);
    padding-top: 10px;
    div{
        border-top: 1px solid #E5E5E5;
    }
    div:last-of-type{
        border-bottom: 1px solid #E5E5E5;
    }
}
.topMenu_first{
    min-height: 48px;
    display: flex;
    align-items: center;
    padding-left: 55px;
    margin: 0;
    dt{
        margin-right: 50px;
        font-size: 17px;
    }
    dd{
        max-width: 70%;
        ul{
            display: flex;
            flex-wrap: wrap;
            li{
                width: 110px;
                padding-bottom: 15px;
                a{
                    padding: 5px 0px;
                    margin-right: 20px;
                    font-size: 15px;
                    font-weight: 400;
                    color: #cdcdcd;
                    &:hover{
                        color: #888;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    header{
        padding-right:20px;
    }
    .menu{
        width: calc(100vw - 300px);
    }
    .search_input{
        display: none;
    }
    .search_icon{
        display: block;
        font-size: 25px;
        padding: 11px 0px;
        cursor: pointer;
    }
    .iconBox{
        display: flex;
    }
}
@media screen and (max-width: 480px) {  
    header{
        padding-right: 0;
        span{
            margin-right: 10px;
        }
    }
    main{
        justify-content: space-between;
        padding: 0;
    }
    .menu{
        display: none;
    }
    .left{
        margin-left: 15px;
        margin-right: 40px;
    }
    .iconBox{
        display: flex;
    }
    .topMenu_layout{
        width: 100%;
    }
    .topMenu_first{
        min-height: 65px;
    }
}